<div class="main-content">
<h1><a href='/'>Weather</a></h1>
<header>
<nav>
        <a href='/'>Home</a>
        <a href='/help'>Help</a>
        <a href='/about'>About</a>
</nav>
<h3>Welcome to the {{title}} page</h3>
</header>
<form id=weatherLocation>
    <input placeholder="Location. eg. Kochi" required>
    <button>Search</button>
</form>
<p id="forecast"></p>
<p id="error" class="errorMsg"></p>
<script src="js/script.js"></script>
</div>
