
body{
    columns: #333333;;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}
.main-content{
    flex-grow: 1;
}
h1{
    font-size: 64px;
    margin-left: 12px;
}
h1 a {
    text-decoration: none;
    color:black
}
h3{
    margin-left: 12px;
}
header{
    margin-top: 16px;
    margin-bottom: 48px;
}

header a {
    color:grey;
    margin-right: 16px;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

header a:hover{
    background-color:#888888;
    color:white
}

footer{
    background-color:#888888;
    margin: 16px 0;
    padding: 16px;
    border-top:1px solid #eeeeee;
    text-align: center;
}

#forcast{
    color:grey
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #cccccc;
    background: #888888;
    color: white;
    padding: 8px;
}
